
#close{
    float: right;
}
#img{
    width: 230px;
    height: 170px;
    max-width: 400px;
    max-height: 400px;
}
th{
vertical-align: middle;
font-weight: bold;
color: #22a81f;
}
td{
vertical-align: middle;
}
#title{
margin-bottom: 5px;
color:#22a81f;
}
#delete{
    float: right;
    margin-right: 9px;
}
.btn.nav{
    background-color: white;
    color:#22a81f;
    font-size: 19px;
}
.btn.nav:hover{
    background-color: #c2cfb8;
}
table{
    font-size: 19px;
}